:host {
	display: flex;
	height: var(--table-height);
	font-size: var(--font-size);
	color: var(--dark-text-color);
	justify-content: space-between;
	align-items: center; 
}
#friendImg {
	object-fit: cover;
	width: var(--small-avatar-size);
	height: var(--small-avatar-size);
}

#profileName {
	width: 10rem;
}

.all-btn {
	width: 3.5rem;
}

.status-online {
	margin: 0;
	padding: 2px;
	width: 3.5rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	background: var(--online-green-color);
}

.status-offline {
	margin: 0;
	padding: 2px;
	width: 3.5rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	background: var(--offline-gray-color);
}

.new-message {
	border: 5px solid green;
}