.custom-bg {
	height: 70vh;
	margin-top: 2vh;
	min-height: 18rem;
	box-shadow: var(--box-shadow);
	border-radius:var(--border-radius);
}

#header {
	padding-top: 2vh;
	padding-left: 2vw;
	color: var(--primary-color);
	font-size: var(--header-font-size);
}

#username {
	font-weight: bold;
	color: var(--gray-color-medium);
	font-size: var(--header-font-size);
}

#content {
	gap: 20px;
	margin: 0 4vw;
	padding: 10px;
	border: var(--border-green);
	border-radius: var(--border-radius);
}

#photo {
	width: 10rem;
	height: 10rem;
	position: relative;
	overflow: hidden;
	border-radius: var(--border-radius);
}

#photo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.detail-height {
	height: 2.5rem;
}

#content i {
	width: 2.0rem; 
	height: 2.0rem; 
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: var(--icon-size);
	border: var(--border-green);
	color: var(--primary-color);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	background-color: var(--gray-color-bg);
}

.text {
	margin-bottom: 0;
	margin-left: 0.5rem;
	font-size: var(--font-size);
	color: var(--primary-color);
}
.amount {
	margin-bottom: 0;
	margin-left: 0.5rem;
	font-size: var(--font-size);
	color: var(--gray-color-medium);
}

.btn-danger {
	width: 6rem;
	height: 2rem;
	font-size: var(--font-size);
	border-radius: var(--border-radius);
}

#blockBtn i {
	color: white;
	font-size: var(--icon-size);
}