.canvas-container {
    padding: 5px;
    height: 100%;
    display: flex;
    overflow: auto;
	margin-top: 2vh;
    min-height: 70vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: var(--box-shadow);
	border-radius:var(--border-radius);
}

#canvas {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 2 / 1;
}

@media (max-width: 767px) {
    #canvas {
        max-width: 300px;
        aspect-ratio: 1 / 2;
    }
}
